<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sureline</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon1</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sureline</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2075312276312408</string>
				<string>sbawf179z3al83w7qs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>2075312276312408</string>
	<key>FacebookClientToken</key>
	<string>abcdb787cda269836d3d33d03c391967</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>facebook-reels</string>
		<string>facebook-stories</string>
		<string>instagram-reels</string>
		<string>instagram-stories</string>
		<string>instagram</string>
		<string>facebook</string>
		<string>tiktoksharesdk</string>
		<string>snssdk1233</string>
		<string>snssdk1180</string>
		<string>tiktokopensdk</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to record videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save photos and videos to your gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to save media.</string>
	<key>TikTokClientKey</key>
	<string>sbawf179z3al83w7qs</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.jpeg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpg</string>
					<string>jpeg</string>
				</array>
				<key>public.mime-type</key>
				<string>image/jpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.png</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>png</string>
				</array>
				<key>public.mime-type</key>
				<string>image/png</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
 
